<div class="col-lg-2 col-md-4 mb-4">
  <div class="card bg-dark text-white h-100">
    <div class="card-body">
      <%= link_to author.name, link, class: "card-title stretched-link text-white" %>
    </div>
  </div>
</div>
