<div class="col-lg-2 col-md-4 mb-4">
  <div class="card bg-dark text-white">
    <%= image_tag book.cover || "no-cover.png", class: "card-img" %>
    <div class="card-img-overlay card-img-overlay-dark">
      <p class="card-title"><%= book.title %></p>
    </div>
  </div>
</div>
