<div class="col-lg-2 col-md-4 mb-4">
  <div class="card bg-dark text-white h-100">
    <%= image_tag book.cover || "no-cover.png", class: "card-img" %>
    <div class="card-img-overlay card-img-overlay-dark">
      <%= link_to book.title, book_path(book), class: "card-title stretched-link text-white" %>
    </div>
  </div>
</div>
