<h1>New books</h1>

<div class="row">
  <% @last_books.each do |book| %>
    <%= render partial: "/shared/book_card_small", locals: { book: book } %>
  <% end %>
  <%= render partial: "/shared/link_card", locals: { link: books_path } %>
</div>
