<% @collections.each do |collection| %>
  <h1><%= collection.name %></h1>

  <div class="row text-center">
    <% collection.books.each do |book| %>
      <%= render partial: "/shared/book_card", locals: { book: book } %>
    <% end %>
  </div>
<% end %>

<h1>Books without a collection</h1>

<div class="row text-center">
  <% @books_without_collections.each do |book| %>
    <%= render partial: "/shared/book_card", locals: { book: book } %>
  <% end %>
</div>
