<h1>Books</h1>

<div class="row">
  <% @books.each do |book| %>
    <%= render partial: "/shared/book_card", locals: { book: book } %>
  <% end %>
</div>

<div class="row">
  <div class="col">
    <%= paginate @books, theme: "twitter-bootstrap-4", window: 2 %>
  </div>
</div>
