<div class="row">
  <div class="col-md-12 d-flex align-items-center">
    <h1>Books</h1>
    <%= link_to "Add new book", new_book_path, class: "btn btn-success btn-sm ml-auto mr-1" %>
    <%= link_to "Import by ISBN", import_by_isbn_books_path, class: "btn btn-success btn-sm" %>
  </div>
</div>

<div class="row">
  <% @books.each do |book| %>
    <%= render partial: "/shared/book_card", locals: { book: book } %>
  <% end %>
</div>

<div class="row">
  <div class="col">
    <%= paginate @books, theme: "twitter-bootstrap-4", window: 2 %>
  </div>
</div>
